.header {
  display: flex;
justify-content: space-between;
align-items: center;
min-width: 1440px;
  padding: 92px 49px 0px 51px;

}

.header__logo-image {
  width: 148px;
  height: 105px;
  margin-right: 145px;

}

.header__links-list {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  padding-top: 2px;
  text-align: center;
}

.header__links-list-item {
  color: #000;
font-family: Raleway;
font-weight: 400;
font-size: 18px;
font-style: normal;
line-height: normal;
  list-style: circle;
}


.header__links-list-item_no-bullit {
  font-family: Raleway;
font-weight: 400;
font-size: 18px;
font-style: normal;
line-height: normal;
  list-style: none;
}

.header__address {
max-width: 240px;
min-height: 100px;
  color: #000;
font-family: Raleway;
font-weight: 400;
font-size: 18px;
font-style: normal;
line-height: 24.3px; /* 135% */


}

.cover {
 position: relative;
  z-index: -1;
  min-width: 1440px;
  min-height: 760px;
  margin-top: 90px;
  background-image:  url(/images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background:  #000;
}

.aligned-text {
display: block;
color: #FFF;
font-family: Raleway;
font-weight: 700;
font-size: 100px;
font-style: normal;
line-height: 100%; /* 100px */
letter-spacing: 30px;
text-align: left;
text-transform: uppercase;
}

.aligned-text-pd {
  padding-top: 175px;
  padding-left: 50px;
}

.aligned-text_center {
  padding-top: 25px;
  text-align: center;
}

.aligned-text_right {
padding-top: 23px; 
padding-right: 50px;
text-align: right;

}


.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.cover__description {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 82px;
  padding-top: 135px;
}

.cover__description-text {
padding-top: 10px;
  color: #FFF;
font-family: Raleway;
font-weight: 400;
font-size: 22px;
font-style: normal;
line-height: 28px; /* 127.273% */
text-align: center;
text-transform: uppercase;
word-spacing:  17px;
}

.bet-button {
margin-right: 50px;
border: 1px solid #FFF;
padding:  12px 32px;
 color: #FFF;
font-family: Raleway;
font-weight: 400;
font-size: 22px;
font-style: normal;
line-height: normal;
text-align: center;
text-transform: uppercase;
background-color: transparent;
}

.lots {
  padding: 180px 50px 0px 50px;
}



.lots__heading {
padding-left: 40px;
  color: #000;
font-family: Raleway;
font-weight: 700;
font-size: 40px;
font-style: normal;
line-height: normal;
text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 25px;
}

.lots__card-list-item {
  list-style-type: none;
}

.card {
  position: relative;
  z-index: -1;
  width: 430px;
  height: 100%;
  margin-top: 25px;

}

.card_type_film {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 202px;
  background-image: url(/images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card__title {
padding:50px 40px 0px 40px;
  color: #FFF;
font-family: Raleway;
font-weight: 700;
font-size: 22px;
font-style: normal;
line-height: 120%; /* 26.4px */
text-decoration-line: underline;
text-transform: uppercase;

}

.card__text {
padding: 0px 40px 50px 40px;
  color: #FFF;
font-family: Raleway;
font-weight: 400;
font-size: 20px;
font-style: normal;
line-height: 120%; /* 24px */
}

.card_type_book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  background-image: url(/images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_picture {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  gap: 80px;
  background-image: url(/images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.lots__look-more-link {
display: block;
padding-top: 30px;
padding-left: 40px;
  color: #000;
font-family: Raleway;
font-weight: 400;
font-size: 20px;
font-style: normal;
line-height: normal;
}

.about {
  display: grid;
grid-template-columns: 430px auto ;
align-items: start;
gap: 25px;
  padding: 180px 50px 0px 50px;
}

.section__column {
grid-column-start: 2;
min-width: 885px;
}

.about__title {
padding-top: 105px;
padding-bottom: 70px;
  color: #000;
font-family: Raleway;
font-weight: 700;
font-size: 40px;
font-style: normal;
line-height: normal;
text-transform: uppercase;

}

.about__text {
padding-top: 28px;
  color: #000;
font-family: Raleway;
font-weight: 400;
font-size: 20px;
font-style: normal;
line-height: normal;
}

.about__logo {
grid-row-start: 1;
width: 240px;
height: 240px;
margin-left: 95px;
border-radius: 120px;
  background-color:  #000;
}

.about__logo-image {
  width: 150px;
  height: 115px;
  margin: 63px 46px;
}

.footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 180px 50px 90px 50px;;
  

}

.address {
  width: 240px;
  padding-top: 4px;
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px; /* 135% */
}

.footer__menu {
padding-top: 4px;
padding-left: 17px;
  color: #000;
font-family: Raleway;
font-weight: 400;
font-size: 18px;
font-style: normal;
line-height: normal;
text-align: center;
}


.footer__menu-list {
  display: flex;
  flex-direction: column;
}

.footer__menu-list-item {
  list-style-type: none;
}

.footer__social-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 50px;
  width: 240px;
  padding-top: 4px;
  padding-left: 16px;
  
  
  
}

.footer__social-link {
  display: block;

}

.footer__social-list-item {
  list-style-type: none;
}

.footer__social-icon {
width: 47px;
height: 47px;
}